<link rel="stylesheet" href="/css/devise.css" type="text/css" />
<script src="/js/devise.js"></script>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <h2>Sign up</h2>
  <div class="form-inputs">
    <div class="group">
      <input name="user[email]" required="true" autofocus="true"/><span class="highlight"></span><span class="bar"></span>
      <label>Email</label>
    </div>
    
    <div class="group">
      <input name="user[username]" required="true" autofocus="true"/><span class="highlight"></span><span class="bar"></span>
      <label>Username</label>
    </div>
    
    <div class="group">
      
      <input class="password required" required="required" aria-required="true" type="password" name="user[password]" id="user_password"><span class="highlight"></span><span class="bar"></span>
      <span class="hint">6 characters minimum</span>
      <label>Password</label>
    </div>
    
    <div class="group">
      <input class="password required"  required="required" aria-required="true" type="password" name="user[password_confirmation]" ><span class="highlight"></span><span class="bar"></span>
      <label id="password_confirm_label">Password Confirmation</label>
    </div>
    
    <div class="select_icon">
      <div id="header">Select Icon</div>
      <div class="icon">
        <input type="radio" name="user[img_url]" value="/images/penguin.png" id="penguin">
        <label for="penguin">
          <img src="/images/penguin.png" id="animal" alt="penguin">
        </label>
      </div>
      <div class="icon">
        <input type="radio" name="user[img_url]" value="/images/cat.png" id="cat">
        <label for="cat">
          <img src="/images/cat.png" id="animal" alt="cat">
        </label>
      </div>
      <div class="icon">
        <input type="radio" name="user[img_url]" value="/images/fox.png" id="fox">
        <label for="fox">
          <img src="/images/fox.png" id="animal" alt="fox">
        </label>
      </div>
      <div class="icon">
        <input type="radio" name="user[img_url]" value="/images/panda.png" id="panda">
        <label for="panda">
          <img src="/images/panda.png" id="animal" alt="panda">
        </label>
      </div>
        
    </div>
    
    
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"button buttonBlue" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>


