<%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>

<script>
    var my_player_id = <%=current_user.player.id%>

</script>
<script src="https://use.fontawesome.com/84384b689a.js"></script>

<%if @dev != true%>
<script src="/js/in_game_action.js"></script>
<script src="/js/in_game_socket.js"></script>
<script src="/js/in_game.js"></script>
<%else%>
<script>
$(document).ready(function(){
  $('.users').removeClass('ready')  
})
</script>
<%end%>

<link rel="stylesheet" type="text/css" href="/css/slider.css">
<script src="/js/slider.js"></script>

<div class="users ready" id="ready">
    <div class="section_header">
        <div class = "room_code">
        <span>방번호: </span>
        </div>
    </div>
    <div class="section">
        <div class="user1">
        <img src='/images/profile/boy1.png' alt='boy1'/>
        <div class="player_username">
        <span>user1</span>
        </div>
        </div>
        <div class="user2">
        <img src='/images/profile/boy2.png' alt='boy2'/>
        <div class="player_username">
        <span>user2</span>
        </div>
        </div>
    </div>
    <div class="section">
        <div class="user3">
        <img src='/images/profile/girl1.png' alt='girl1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user4">
        <img src='/images/profile/girl2.png' alt='boy2'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="user5">
        <img src='/images/profile/boy1.png' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>

        <div class="user6">
        <img src='/images/profile/boy2.png' alt='boy1'/>
        <div class="player_username">
        </div>
        </div>
    </div>
    <div class="section">
        <div class="ready">
            <button id="readybutton">Ready?</button>
        </div>
    </div>
</div>

<div class="container">
<div class="header">
    <a href="javascript:null"><i id="back" class="fa fa-undo" style="cursor:pointer;"></i></a>
    
    <!--메뉴바--->
    <div class="btn"></div>
      <div class="page_cover"></div>
      <div id="menu">
        <div class="close"></div>
        <div class = "menus">
          <div class="menu_img">
          <ul>
            <li>
              <img src="http://images.clipartpanda.com/business-person-silhouette-33750.png" id="menu_img">
              <p id="user_id"><%=current_user.player.username%></p>
              <span>point: </span><span id="user_point">0</span>
            </li>
          </div>
          <div class= "menu_button">
        		<li>
        			<img src="http://images.clipartpanda.com/business-person-silhouette-33750.png" id="menu_button">
              <p id="other_id">el.username</p>
        		</li>
          </div>
          <div class= "menu_button">
            <li>
        			<img src="http://images.clipartpanda.com/business-person-silhouette-33750.png" id="menu_button">
              <p id="other_id">el.username</p>
        		</li>
          </div>
          <div class= "menu_button">
        		<li>
        		<img src="http://images.clipartpanda.com/business-person-silhouette-33750.png" id="menu_button">
              <p id="other_id">el.username</p>
        		</li>
          </div>
          <div class="menu_button">
        		<li>
        			<img src="http://images.clipartpanda.com/business-person-silhouette-33750.png" id="menu_button">
              <p id="other_id">el.username</p>
        		</li>
          </div>
      	</ul>
      </div>
      <!--메뉴바끝-->

  </div>
    <div class="playingCard">
        <img id="c_card_image" width="50" height="50" src="/images/cards/card-02.png">
        <div class="topic" id="topic">배고픔</div>
    </div>
</div>
<div class="top">
    <div class="center">
        <div id="askuser">
            <img src='/images/profile/boy1.png' alt='girl1'/>
            <label id="question_player"></label>
        </div>
        <div class="timer">
            <main role="main" data-slider-color="slider-lightBlue">
             <section>
                <div class="wrap">
                  <div class="holder">
                    <div class="demo">
                      <div class="rkmd-slider slider-discrete slider-lightBlue">
                        <input type="range" min="0" max="" value="0" invert=false>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </main>
        </div>
        <div id="answeruser">
            <img src='/images/profile/girl1.png' alt='girl1'/>
            <label id="answer_player"></label>
        </div>
    </div>
</div>

<div class="middle">
    <div class="personal_card">
        <div class="p_card_type">
            <span id = "text_type">Q</span>
        </div>
        <div class="p_card_img">
            <img id="card_image" src="/images/cards/card-04.png" alt='img'>
        </div>
        <div class="p_card_img">
            <img id="sep_bar" src="<%= asset_path 'sep_bar.png'%>" alt='img'>
        </div>
        <div class="p_card_name">
            <span id = "text_name">로딩중</span>
        </div>
        <div class="p_card_content">
            <span id = "text_content">로딩중</span>
        </div>
        
        <div class="p_card_num">
            <span id = "text_num">1</span>
        </div>
    </div>
</div>

<div class="bottom">    
    <div class="button" style="cursor:pointer;">
        질문중 · · ·
    </div>
</div>
</div>
<div id="screen">
  <div class="voted">
    <div class = "vote"></div>
    <p class="notice"> <br>가장 재밌는 이야기를 한 플레이어를 <br> 선정해주세요!!</p>
  </div>
  <div id="vote_content">
  </div>
</div>