<head>
<link rel="stylesheet" href="/css/ice.css" type="text/css" />
<script src="https://use.fontawesome.com/84384b689a.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="body">
<div class="container">
	<a href="#">
	    <div class="topic">
            <img src='<%= asset_path 'logo_small.png'%>' id="logo" alt='topic'/>
	    </div>
	</a>
  
  <% if user_signed_in? %>
    <form method="get" action="home/create_room">
      <button type="submit" class="button buttonBlue">
        방만들기</button>
    </form>
    <button id = "button1" class="button buttonBlue part">참여하기</button><br>
    
    <div id="myModal" class="modal">
      <div class="modal-content">
      <!-- Modal content -->
        <span>방번호를 입력하세요!</span>
        <input class="form-control" name="room" id="room"><br>
        <button class="btn btn-primary btn-xs" id="enter_room">
          <span class="fa fa-sign_in">입장하기</span>
        </button>
        <button class="btn btn-default btn-xs" id="close_modal">
          <span class="fa fa-close" 
          onclick="document.getElementById('myModal').style.display='none'">닫기</span>
        </button>
      </div>
    </div>
      
    <a href="/users/sign_out" data-confirm="로그아웃 하시겠습니까?">로그아웃</a>
  <% else %>
  
  
  <a href="/users/sign_in"><div class="button buttonBlue">로그인</div></a>
  <a href="/users/sign_up"><div class="button buttonBlue">회원가입</div></a>
  <% end %>
  <div class="share">
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=116&height=20&appId" width="116" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
</div>
</div>

<script>
    var url = window.location.hostname
    if(window.location.port!=""){
      url+=':'+window.location.port
    }
    var dispatcher = new WebSocketRails(url+'/websocket');

    //get my message
    dispatcher.bind('game.connection_success', function(task) {
      console.log(task.message)
    });
    var modal = document.getElementById('myModal');
    
    // Get the button that opens the modal
    var btn = document.getElementById("button1");
    
    // Get the <span> element that closes the modal
    var span = document.getElementById("close_modal");
    var enter_room = document.getElementById("enter_room");
    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    // 입장하기를 눌렀을때
    enter_room.onclick = function(){
      var room = document.getElementById("room").value
      dispatcher.trigger('game.room_connect', room);
      dispatcher.bind('game.room_connect_status',function(task){
        if (task.status){
          window.location = '/home/game/'+room
        }else {
          alert(task.message)
          dispatcher.unbind('game.room_connect_status')
        }
      })
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>