<link rel="stylesheet" href="/css/ice.css" type="text/css" />
<div class="container">
	<a href="#">
	    <div class="topic">
            <img src='<%= asset_path 'logo_small.png'%>' id="logo" alt='topic'/>
	    </div>
	</a>

<% if user_signed_in? %>
    <form method="get" action="home/create_room">
      <button type="submit" class="button buttonBlue">방만들기</button>
    </form>
    <button id = "button1" class="button buttonBlue part">참여하기</button><br>
    <a href="/users/sign_out" data-confirm="로그아웃 하시겠습니까?">로그아웃</a>
<% else %>


<a href="/users/sign_in"><div class="button buttonBlue">로그인</div></a>
<a href="/users/sign_up"><div class="button buttonBlue">회원가입</div></a>
<% end %>
  <div class="share">
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=116&height=20&appId" width="116" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
</div>




<script>
    var url = window.location.hostname
    if(window.location.port!=""){
      url+=':'+window.location.port
    }
    var dispatcher = new WebSocketRails(url+'/websocket');

    var test = {text: 'hello world'}
    dispatcher.trigger('game.connection', test);
    //get my message
    dispatcher.bind('game.connection_success', function(task) {
      console.log(task.message)
    });

    $('#button1').on('click', function(){
        var roomcode = prompt('방 번호를 입력하세요')
        dispatcher.trigger('game.room_connect', roomcode);
        dispatcher.bind('game.room_connect_status',function(task){
          if (task.status){
            window.location = '/home/game/'+roomcode
          }else {
            alert(task.message)
            dispatcher.unbind('game.room_connect_status')
          }
        })
    })
</script>
