/* All Device */

* {
margin: 0; padding: 0;
}

@font-face {
	font-family: 'BM HANNA';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/BM-HANNA/BM-HANNA.eot');
	src: url('/fonts/BM-HANNA/BM-HANNA.eot?#iefix') format('embedded-opentype'),
	        url('/fonts/BM-HANNA/BM-HANNA.woff') format('woff'),
	        url('/fonts/BM-HANNA/BM-HANNA.ttf') format('truetype');
}

/* Mobile Device */

.users{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: #fec8c9;
    font-size: small;
    height:14vh;
}
.user1, .user2, .user3, .user4, .user5, .user6{
     display: inline-block;
     width: 16vw;
     height: 100%;
}


.users img {
    height:70%;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    height: 86vh;
    float:left;
   
}
.card_left, .card_right {
    width: 100vw;
    height: 39vh;
    background-color: yellow;
}
.common_card,.personal_card{
    display: inline;
    float: left;
    border: 1px;
    border-color: gray;
    border-radius: 5%;
    border-style: outset;
    width: 96vw;
    height: 37vh;
    overflow:hidden;
    margin: 2vw 1vh;
    background-image: url("pattern.jpg");
    background-size: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'BM HANNA';
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.center{
    width:100vw;
    height:8vh;
}
div.common_card_name {
    padding-top: 4%;
}

div.personal_card_name {
    padding-top: 4%;
}
#c_card_img {
    padding-top: 3vh;
    padding-bottom: 3vh;
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 5%;
}

#p_card_img {
    padding-top: 3vh;
    padding-bottom: 3vh;
    max-width: 43vw;
    max-height: 38vh;
    border-radius: 5%;
}


/* Tablet & Desktop Device */
@media all and (min-width:768px) {

}

/* Tablet Device 
@media all and (min-width:768px) and (max-width:1024px) {
.users{
    display: inline-block;
    max-width: 100vw;
    height: 14vh;
    max-height: 14vh;
    background-color: #fec8c9;
    font-size: small;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding: 0;

}
.cards{
    margin: 0 auto;
    max-width: 100%;
}

.common_card{
    display: inline;
    float: left;
    border: 1px;
    border-color: gray;
    border-radius: 5%;
    border-style: outset;
    width: 35vw;
    height: 60vh;
    margin: 0 auto;
    background-image: url("pattern.jpg");
    background-size: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'BM HANNA';
   
}
div.timer{
    display: inline;
    float: left;
    margin-top: 28vh;

}
.personal_card{
    display: inline;
    float: right;
    border: 1px;
    border-color: gray;
    border-style: outset;
    border-radius: 5%;
    width: 35vw;
    height: 60vh;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("pattern.jpg");
    background-size: 80%;
    text-align: center;
    font-family: 'BM HANNA'
     
}

div.common_card_name {
    padding-top: 4%;
}

div.personal_card_name {
    padding-top: 4%;
}
#c_card_img {
    width: 20vw;
    max-width: 30vw;
    max-height: 40vh;
    border-radius: 5%;
}

#p_card_img {
    max-width: 30vw;
    max-height: 40vh;
    border-radius: 5%;
}
}*/
/* Desktop Device */
@media all and (min-width:1025px) {
.users{
    display: inline-block;
    max-width: 100vw;
    height: 14vh;
    max-height: 14vh;
    background-color: #fec8c9;
    font-size: small;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: blue ;

}
.card_left {
    width: 45vw;
    height: 86vh;
    background-color: yellow;
    float:left;
    margin: 0 auto;
}
.center {
    width: 10vw;
    height: 86vh;
    float:left;
    margin: 0 auto;
}
.card_right {
    width: 45vw;
    height: 86vh;
    background-color: green;
    float:left;
    margin: 0 auto;
}

.common_card{
    display: inline-block;
    float: left;
    border: 1px;
    border-color: gray;
    border-radius: 5%;
    border-style: outset;
    width: 43vw;
    height: 82vh;
    margin: 1vw 2vh;
    background-image: url("pattern.jpg");
    background-size: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'BM HANNA';
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   
}
div.timer{
    display: inline;
    float: left;
    margin-top: 28vh;

}
.personal_card{
    display: inline-block;
    border: 1px;
    border-color: gray;
    border-style: outset;
    border-radius: 5%;
    width: 43vw;
    height: 82vh;
    margin: 1vw 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("pattern.jpg");
    background-size: 80%;
    text-align: center;
    font-family: 'BM HANNA'
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
     
}

div.common_card_name {
    padding-top: 4%;
}

div.personal_card_name {
    padding-top: 4%;
}
#c_card_img {
    width: 20vw;
    max-width: 30vw;
    max-height: 40vh;
    border-radius: 5%;
}

#p_card_img {
    max-width: 30vw;
    max-height: 40vh;
    border-radius: 5%;
}
}